.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    flex-direction: column;
}

.code {
    font-size: 15rem;
    color: aliceblue;
    margin: 0;
}

.description {
    font-size: 1.5rem;
    color: grey;
}