.header {
    display: flex;
    background-color: #007bff;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header__search {
    text-align: center;
    width: 33%;
    border-radius: 1rem;
    background-color: white;
    display: flex;
}

.header__search-icon {
    padding: 0.20rem 0.5rem;
    height: 1.7rem;
    width: 2.3rem;
}

.header__search-input {
    width: 100%;
    border: none;
    border-radius: 0 1rem 1rem 0;
    outline: none;
    color: black;
}

.header__search-input:focus {
    border: none;
}

.header__home {
    padding-left: 2%;
    box-sizing: inherit;
    width: 33%;
}

.header__links {
    padding-right: 2%;
    width: 33%;
}

.header__links-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__links-list li {
    display: inline-block;
    font-size: 0.75rem;
}

.header__links-list li:not(:last-child) {
    margin-right: 1rem;
}

.header__link {
    color: white;
}

.header__link--large {
    font-size: 2rem;
    font-weight: 600;
}

.header__link:hover {
    text-decoration: none;
}

#usernameContainer {
    display: flex;
    align-items: center;
}

.header__username-icon-container {
    margin-left: 1rem;
    background-color: white;
    border-radius: 100%;
    padding: 0.25rem;
}

.header__username-icon {
    height: 1.1rem;
    width: 1.3rem;
}

.header__username-text {
    margin-left: 0.5rem;
    color: white;
    font-style: italic;
}

.header__button {
    border: none;
    background-color: #007bff;
}
