.icon-wrapper {
    display: flex;
    font-style: italic;
    font-size: 0.75rem;
    align-items: center;
}

.icon-wrapper > label {
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.icon {
    border-radius: 100%;
    padding: 0.25rem;
}

.icon > img {
    width: 1.3rem;
    height: 1.1rem;
}

