.content {
    padding-top: 5vh;
    display: grid;
    min-height: 88vh;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
}

.content__main {
    grid-column: 2/7;
}

.content__side {
    align-items: center;
    grid-column: 7/10;
}

.content__related-title {
    font-weight: 600;
    color: black;
}

.content__related-items {
    padding: 0;
}

.content__item {
    list-style-type: none;
    border: 1px solid #0000001a;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
    color: #438BC7;
    transition: all 0.5s;
}

.content__item:hover {
    cursor: pointer;
    background-color: #438BC7;
    color: white;
}

.question-footer__heart {
    color: #438BC7;
    font-size: 0.75rem;
    font-style: italic;
}
.question-footer__heart > img {
    width: 2rem;
    height: 2rem;
}

.content__question-form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.question-form__textarea {
    border: 1px solid #438BC7;
    min-height: 5rem;
}

.question-form__button {
    width: 30%;
    align-self: flex-end;
    margin-top: 1rem;
    font-size: 0.75rem;
    padding: 0.5rem;
}

.animated {
    animation: append-animate .3s linear;
}

@keyframes append-animate {
	from {
		transform: translateX(200px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;	
	}
}