<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %> </title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../styles/print.css">
        <link rel="stylesheet" type="text/css" href="../styles/index.css">
    </head>

    <body>
        <%- include('partials/header') %>

        <main class="main-content">
            Main content
            <ul>
                <% items.forEach((item) => { %>
                    <li>
                        <b><%= item.name %></b>
                    </li>
                <% }); %> 
            </ul>
        </main>
        
        <%- include('partials/footer') %>
    </body>
</html>