<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Technology 2021</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../styles/print.css">
    <link rel="stylesheet" type="text/css" href="../styles/auth.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <script type="text/javascript" src="../js/login.js" ></script>
</head>
<body>
<%- include('partials/header') %>

<main class="main-content wrapper">
    <div id="error" class="alert alert-danger" role="alert" hidden></div>

    <form onsubmit="signIn(event)" class="form-group form">
        <label for="username">Username</label>
        <div class="form__username mb-3">
            <input id="username" name="username" type="text" required placeholder="Required Field"
                   class="form__username-input form-control">
            <img src="../../icons/user.png" class="form-register__username-icon" alt="avatar">
        </div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required placeholder="Required Field" class="form-control mb-4">
        <button type="submit" class="btn btn-primary form__btn-submit mb-5">SIGN IN</button>
        <div class="form__link-container">
            <span>Don't have an account?</span>
            <a href="/register">Sign up</a>
        </div>
    </form>
</main>

<%- include('partials/footer') %>
</body>
</html>