<!DOCTYPE html>
<html>
    <head>
        <title>Web Technology 2021</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../styles/print.css">
        <link rel="stylesheet" type="text/css" href="../styles/question.css">
        <script src="../js/question.js"></script>
    </head>

    <body>
        <%- include('partials/header') %>

        <main class="content">
            <div class="content__main">
                <hr>
                <%- include('partials/question-card', {
                    data: question
                }) %> 

                <form class="content__question-form" onsubmit="onPostAnswer(event)">
                    <textarea id="answer-textarea" class="form-control question-form__textarea" disabled></textarea>
                    <button id="answer-submit" type="submit" class="btn btn-primary question-form__button" disabled>POST ANSWER</button>
                </form>

                <% for (let i = 0; i < answers.length; i++) { %>
                    <%- include('partials/answer-card', {
                        data: answers[i]
                    }) %>
                <% } %>
            </div>
            <div class="content__side">
                <hr>
                <div id="related-items-container" class="content__related-container">
                    <!-- children will be added dynamically on page load -->
                </div>
            </div>
        </main>
        
        <%- include('partials/footer') %>
    </body>
</html>