<link rel="stylesheet" type="text/css" href="../../styles/header.css" />
<script type="text/javascript" src="../../js/header.js" ></script>

<header class="header">
    <div class="header__home">
        <a class="header__link header__link--large" href="/">HOME</a>
    </div>
    <% if (search) { %>
        <div class="header__search">
            <img class="header__search-icon" src="../../icons/search.png" alt="search">
            <input class="header__search-input" type="text" placeholder="Search...">
        </div>
    <% } %>
    <div class="header__links">
        <ul class="header__links-list">
            <li id="askQuestion"><a class="header__link" href="/questions">ASK A QUESTION</a></li>
            <li id="login"><a class="header__link" href="/login">LOG IN</a></li>
            <li id="signup"><a class="header__link" href="/register">SIGN UP</a></li>
            <li id="logout"><button class="header__button" onclick="logout()">
                    <a class="header__link" href="#">SIGN OUT</a>
                </button></li>
            <li id="usernameContainer" class="header__username">
                <div class="header__username-icon-container">
                    <img class="header__username-icon" src="../../icons/user.png" alt="avatar">
                </div>
                <div id="username" class="header__username-text"></div>
            </li>
        </ul>
    </div>
</header>